@import "../../../common/styles/variable.module.scss";

.skill{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:250px;
  margin-bottom: 15px;
  text-align: center;
  box-sizing: border-box;
  background-color: $layout;

  .icon{
    height: 60px;
    width: 60px;
    margin-top: 15px ;
    background-color: #282c34;
  }

  h3{
    text-align: center;
    margin: 0;
  }
}