@import '../../../common/styles/variable.module';

.nav {
  display: flex;
  justify-content: space-around;

  .link {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color:  nth($mainColor, 2);
      transition: all .3s ease;
    }
  }

  .activeLink{
    color: nth($mainColor, 2);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  }
}

@media (min-width: 360px) {
  .nav {
    width: 90%;
  }
}

@media (min-width: 1000px) {
  .nav {
    width: 400px;
  }
}
